<div *ngIf="title && title.length > 0 && description && description.length > 0 && alertLevel && alertLevel.length > 0">
    <div class="fr-alert" [ngClass]="'fr-alert--' + alertLevel">
        <h3 class="fr-alert__title">{{ title }}</h3>
        <p [innerHTML]="description"></p>
    </div>
</div>