<main role="main" id="contenu">
  <div class="fr-container main-body">
    <ng-container>
        <rdv-search-predemande (searchCriteria)="onSearch($event)"></rdv-search-predemande>

        <div *ngIf="endOfSearch && predemande_results?.size" id="target">
          <rdv-list-predemande #tag [predemande_results]="predemande_results"></rdv-list-predemande>
       </div>
       <div *ngIf="endOfSearch">
        <div class="fr-grid-row fr-grid-row--center fr-mt-5w fr-mx-2w">
          <div class="fr-col fr-col-md-10 fr-col-lg-10 fr-col-xl-10">
            <div *ngIf="errorMessage && (errorMessage.title || errorMessage.description) else elseBlock">
              <div class="fr-alert fr-alert--error">
                <p *ngIf="errorMessage.title;" class="fr-alert__title">Erreur : {{errorMessage.title}}</p>
                <p>{{errorMessage.description}}</p>
              </div>
            </div>
            <ng-template #elseBlock>
              <div *ngIf="predemande_results.size===0" class="fr-alert fr-alert--info fr-col">
                <p>Aucun rendez-vous ne correspond au(x) numéro(s) de pré-demande renseigné(s). Veuillez vérifier le(s) numéro(s) saisi(s) et renouvelez votre recherche.</p>
              </div>
            </ng-template>
          </div>
      </div>
      </div>
    </ng-container>

<div [attr.aria-busy]="!endOfSearch" *ngIf="endOfSearch===false" class="container fr-mt-3w">
  <ngx-spinner color="var(--blue-france-main-525)" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"> </ngx-spinner>
</div>

</div>

<rdv-modal-redirection [desktop]="isDesktop"></rdv-modal-redirection>

</main>
