.center {
  display: flex;
}

.search {
  width: 48%;
}

/* For date limit and format error message in forms */
.ignorecase {
  text-transform: initial;
}

.date {
  width: 200px;
}

.justify-center {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;

  text-align: justify;
}

.autocomplete-container .input-container input {
  height: 25px;
  padding: 0 6px;

  font-size: 14px;

  background-color: transparent;
}

.ng-autocomplete {
  ::ng-deep .autocomplete-container {
    background-color: transparent;
    box-shadow: none;
    input[type='text'],
    textarea {
      display: block;
      width: 100%;
      max-height: none;
      margin: 0;
      padding: 0.5rem 1rem;

      color: var(--text-label-grey);
      font-size: 1rem;
      line-height: auto;

      background-color: var(--background-contrast-grey);
      border-radius: 0.25rem 0.25rem 0 0;
      border-radius: 0.25rem 0 0;
      box-shadow: inset 0 -2px 0 0 var(--border-plain-grey);

      /* TODO: intégrer la croix en background pour effacer la search bar
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
  */
      box-shadow: inset 0 -2px 0 0 var(--border-action-high-blue-france);

      --idle: transparent;
      --hover: var(--background-contrast-grey-hover);
      --active: var(--background-contrast-grey-active);
    }
    ::placeholder {
      font-style: italic;

      -webkit-filter: contrast(50%);
      filter: contrast(50%);
    }
    .suggestions-container ul li a {
      color: var(--text-default-grey) !important;
    }
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.text-description-container {
  padding-right: 2.5%;
  padding-left: 2.5%;
}

.fr-label {
  display: inline-block !important;
}

@media (min-width: 700px) {
  .text-title {
    margin-bottom: 0 !important;

    font-size: 1.6vw;
    text-align: justify;
  }

  .text-title:after {
    display: inline-block;
    width: 100%;

    content: '';
  }

  .text-description {
    font-size: 1.3vw;
    text-align: justify;
  }

  .text-description:after {
    display: inline-block;
    width: 100%;

    content: '';
  }

  .text-description > a {
    font-size: 1.3vw;
    text-align: justify;
  }
}

@media (max-width: 700px) {
  .text-title {
    margin-bottom: 0 !important;

    font-size: 3vw;
    text-align: justify;
  }

  .text-title:after {
    display: inline-block;
    width: 100%;

    content: '';
  }

  .text-description {
    font-size: 2.5vw;
    text-align: justify;
  }

  .text-description:after {
    display: inline-block;
    width: 100%;

    content: '';
  }
}

@media (max-width: 400px) {
  .text-title {
    margin-bottom: 0 !important;

    font-size: 5vw;
    text-align: justify;
  }

  .text-title:after {
    display: inline-block;
    width: 100%;

    content: '';
  }

  .text-description {
    font-size: 4.5vw;
    text-align: justify;
  }

  .text-description:after {
    display: inline-block;
    width: 100%;

    content: '';
  }
}

@media (min-width: 1300px) {
  .text-title {
    margin-bottom: 0 !important;

    font-size: 1.3vw;
    text-align: justify;
  }

  .text-title:after {
    display: inline-block;
    width: 100%;

    content: '';
  }

  .text-description {
    font-size: 1vw;
    line-height: 1.5vw;
    text-align: justify;
  }

  .text-description:after {
    display: inline-block;
    width: 100%;

    content: '';
  }

  .text-description > a {
    font-size: 1vw;
    line-height: 1.5vw;
    text-align: justify;
  }
}

#localisemoi {
  width: 100%;
}

#search-btn {
  width: 100%;
}

@media (max-width: 1100px) {
  .font-size {
    font-size: 0.9rem;
  }
}

@media (max-width: 800px) {
  .font-size {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  .font-size {
    font-size: 0.7rem;
  }
}

@media (max-width: 500px) {
  .font-size {
    font-size: 0.5rem;
  }
}

::ng-deep .ngx-spinner-overlay {
  background-color: transparent !important;
  opacity: 0.5 !important;
}

.informations {
  color: var(--info-425-625);
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;

  background: #e8edff;
}

::ng-deep .fr-accordion .fr-collapse--expanded {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  font-size: 1rem;
  line-height: 1.5rem;

  background: #f2f2f9;
}

.fr-accordion__btn:after {
  mask-image: url(../../../assets/arrow-down-s-line.svg);
}

.fr-accordion__btn[aria-expanded='true']:after {
  //mask-image: none;
  transform: rotate(180deg); /* Équivalent à rotateZ(45deg) */
  //background-color: transparent;
}

@media screen and (max-width: 480px) {
  .modal-align-center {
    position: absolute;
    top: 50%;

    transform: translate(0%, -50%);
  }
}

.information {
  cursor: pointer;
}

.prevent-selection {
  user-select: none;
}

.hidden {
  display: none;
}

.openlink:after {
  mask-image: url(../../../assets/external-link-line.svg);
}
