<div *ngIf="desktop; else mobile;">
  <dialog aria-labelledby="fr-modal-2-title" id="fr-modal-2" class="fr-modal" role="dialog" >
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" aria-controls="fr-modal-2">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-2-title" class="fr-modal__title">
                           Vous allez être redirigé vers le site de prise de rendez-vous.
                        </h1>
                        <a id="slotLink" class="fr-btn rdv-float-right" target="_blank" aria-controls="fr-modal-2" href="url"
                        >Continuer</a>
                    </div>
                    <div class="fr-modal__footer">
                        <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </dialog>
</div>

<ng-template #mobile>
  <dialog aria-labelledby="fr-modal-2-title" id="fr-modal-2" class="fr-modal" role="dialog">
    <div>
      <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col fr-col-md-11 fr-col-lg-10 fr-col-xl-11 rdv-justify">
          <div class="fr-modal__body" style="position: absolute; top: 50%; transform: translate(0%, -50%)">
            <div class="fr-modal__header">
              <button class="fr-btn--close fr-btn" aria-controls="fr-modal-2">Fermer</button>
            </div>
            <div class="fr-modal__content">
              <h1 id="fr-modal-2-title" class="fr-modal__title">Vous allez être redirigé vers le site de prise de rendez-vous.</h1>
            </div>
            <div class="fr-modal__footer">
              <ul
                class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left"
              >
                <li>
                  <a id="slotLink" class="fr-btn rdv-float-right" target="_blank" aria-controls="fr-modal-2" href="url">Continuer</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </dialog>
</ng-template>
