<div id="top" class="fr-container main-body">
  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col fr-col-md-10 fr-col-lg-10 fr-col-xl-10">
      <div class="fr-mb-0">
        <rdv-breadcrumb [items]="breadcrumbs" ></rdv-breadcrumb>
      </div>
    </div>
  </div>

  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col fr-col-md-10 fr-col-lg-10 fr-col-xl-10 fr-mt-4w">
      <title class="fr-h6">En savoir plus</title>
      <h1 class="fr-h6">En savoir plus</h1>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col fr-col-md-9 fr-col-lg-9 fr-col-xl-10 rdv-justify">
      <p>
        Pour faire face à l'allongement des délais de délivrance des titres d'identité et fluidifier durablement les prises de rendez-vous
        en mairie pour les titres d’identité, l’ANTS travaille au développement d’une plateforme de rendez-vous au niveau national permettant de
        rendre visible l'ensemble des rendez-vous disponibles en mairie pour déposer une demande de titre d’identité. L’usager peut ainsi :
      </p>
      <ul class="fr-mb-w">
        <li>Avoir un aperçu de l'ensemble des rendez-vous disponibles en fonction de sa localisation et du rayon de recherche souhaité;</li>
        <li>
          Identifier tous les rendez-vous qu'il a pu prendre en renseignant son numéro de pré-demande et ainsi annuler les éventuels
          rendez-vous pris en doublon.
        </li>
      </ul>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col fr-col-md-10 fr-col-lg-10 fr-col-xl-10 fr-m-2w">
      <nav class="fr-sidemenu" role="navigation" aria-label="Menu latéral">
        <div class="fr-sidemenu__inner">
          <button class="fr-sidemenu__btn" aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Dans cette rubrique</button>
          <div class="fr-collapse" id="fr-sidemenu-wrapper">
            <h2 class="fr-sidemenu__title">Vous voulez rejoindre la démarche ?</h2>
            <ul class="fr-sidemenu__list">
              <li class="fr-sidemenu__item">
                <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-0">
                  <span class="fr-btn fr-btn-rounded fr-fi-arrow-right-line fr-mr-2w"> </span>
                  Si vous êtes une collectivité
                </button>
                <div class="fr-collapse" id="fr-sidemenu-item-0">
                  <ul class="fr-sidemenu__list">
                    <li class="fr-sidemenu__item">
                      <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-00">
                        Vous êtes une collectivité et vous travaillez avec un éditeur déjà raccordé au moteur de recherche
                      </button>
                      <div class="fr-collapse" id="fr-sidemenu-item-00">
                        <ul class="fr-sidemenu__list fr-m-1w">
                          <li class="fr-sidemenu__item">
                            <p class="rdv-justify">
                              Les rendez-vous disponibles au sein de votre collectivité sont d'ores et déjà disponibles par les usagers via le moteur de recherche. Si ce n'est pas le cas, votre éditeur est votre interlocuteur principal mais vous pouvez contacter l'ANTS en cas de difficulté.
                              Vous pouvez bénéficier d'une prime de qualité de service dans le cadre de la Dotation des Titres Sécurisés (DTS), conditionnée au recours à une solution de prise de rendez-vous en ligne interopérée avec le moteur de recherche de rendez-vous national. L'ANTS communiquera aux collectivités les modalités de cette subvention.
                            </p>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="fr-sidemenu__item">
                      <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-01">
                        Vous êtes une collectivité et vous travaillez avec un éditeur qui n’est pas encore raccordé au moteur de recherche
                      </button>
                      <div class="fr-collapse" id="fr-sidemenu-item-01">
                        <ul class="fr-sidemenu__list fr-m-1w">
                          <li class="fr-sidemenu__item">
                            <div class="rdv-justify">
                            <p>
                                  Vous pouvez échanger avec votre éditeur et lui exprimer votre besoin afin de lui proposer, éventuellement en lien avec votre Préfecture, un raccordement au moteur de recherche.
                                  Pour cela, vous pouvez le mettre en lien avec l'équipe-projet (ants-rdvmairie@interieur.gouv.fr) pour qu'il obtienne la documentation technique et qu'un échange lui soit proposé.
                                  Une convention entre l'ANTS et votre éditeur sera alors établie afin de garantir le partage des données relatives aux rendez-vous des usagers de manière fiable et sécurisée et ainsi garantir la qualité la qualité de service du moteur de recherche.
                            </p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="fr-sidemenu__item">
                      <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-02">
                        Vous êtes une collectivité et vous ne travaillez pas avec un éditeur
                      </button>
                      <div class="fr-collapse" id="fr-sidemenu-item-02">
                        <ul class="fr-sidemenu__list fr-m-1w">
                          <li class="fr-sidemenu__item">
                            <div class="rdv-justify">



                              Afin d'améliorer votre qualité de service, vous pouvez opter pour une solution de prise de rendez-vous en ligne :<br />
                              - Développée en interne : il est également possible de vous raccorder au moteur de recherche. Pour en savoir plus, voir la section « si vous êtes un éditeur ».

                              <br />
                              - par l'intermédiaire d'un éditeur : vous retrouverez le panorama des éditeurs inscrits dans la démarche ici
                              (insérer lien panorama). Il est conseillé de contractualiser avec un éditeur référencé sur le marché
                              multi-éditeurs UGAP/SCC afin de réduire les temps de contractualisation (lien guide de référencement) et de
                              signer une convention avec l’éditeur choisi afin de sécuriser le partage des données relatives aux rendez-vous
                              des usagers entre le logiciel de l'éditeur et le moteur de recherche national.Vous pouvez bénéficier d’une
                              prime de qualité de service dans le cadre de la Dotation des Titres Sécurisés (DTS), conditionnée au recours à
                              une solution de prise de rendez-vous en ligne interopérée avec le moteur de recherche de rendez-vous national.
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="fr-sidemenu__item">
                <button id="editor-section" class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-1">
                  <span class="fr-btn fr-btn-rounded fr-fi-arrow-right-line fr-mr-2w"></span>
                  Si vous êtes un éditeur
                </button>
                <div class="fr-collapse" id="fr-sidemenu-item-1">
                  <ul class="fr-sidemenu__list">
                    <li class="fr-sidemenu__item">
                      <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-10">
                        Vous êtes un éditeur et vous souhaitez vous raccorder au moteur de recherche national
                      </button>
                      <div class="fr-collapse" id="fr-sidemenu-item-10">
                        <ul class="fr-sidemenu__list fr-m-1w">
                          <li class="fr-sidemenu__item">
                            <p class="rdv-justify">
                              Les éditeurs de solutions de prise de rendez-vous en ligne peuvent initier le processus de raccordement à tout
                              moment. Pour ce faire, vous pouvez contacter adresse fonctionnelle : ants-rdvmairie@interieur.gouv.fr
                            </p>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="fr-sidemenu__item">
                      <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-11">
                        Vous êtes un éditeur et vous souhaitez être référencé au sein du marché UGAP/SCC
                      </button>
                      <div class="fr-collapse" id="fr-sidemenu-item-11">
                        <ul class="fr-sidemenu__list">
                          <li class="fr-sidemenu__item fr-m-1w">
                            <p class="rdv-justify" target="_self">
                              L'UGAP met à la disposition des acheteurs publics un large catalogue de logiciels pour répondre à leur
                              besoin. L'objectif de ce marché est de répondre à la grande majorité des demandes des clients publics qui
                              souhaitent accéder facilement et aux meilleurs prix à une large bibliothèque de logiciels. Ce référencement
                              garantit une rapide contractualisation avec les collectivités et une meilleure visibilité.
                              <br />
                              Vous pouvez consulter le lien suivant pour obtenir plus d’informations :

                              <a
                                class="fr-link fr-fi-arrow-right-line fr-link--icon-right"
                                href="https://www.ugap.fr/catalogue-marche-public/multi-editeurs_16505.html"
                                target="_blank"
                                >https://www.ugap.fr/catalogue-marche-public/multi-editeurs_16505.html</a
                              >
                            </p>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
