<footer class="fr-footer" role="contentinfo" id="footer">
  <div class="fr-container">
    <div class="fr-footer__body">
      <div class="fr-footer__brand fr-enlarge-link">
          <a routerLink="/" title="Retour à l'accueil">
              <p class="fr-logo">
                  République
                  <br>française
              </p>
          </a>
      </div>
      <div class="fr-footer__content">
        <p class="fr-footer__content-desc">
          <a title="immatriculation.ants.gouv.fr" href="https://immatriculation.ants.gouv.fr" target="_blank" rel="noopener">immatriculation.ants.gouv.fr</a>
      </p>
        <p class="fr-footer__content-desc">
            <a title="permisdeconduire.ants.gouv.fr" href="https://permisdeconduire.ants.gouv.fr" target="_blank" rel="noopener">permisdeconduire.ants.gouv.fr</a>
        </p>
        <p class="fr-footer__content-desc">
          <a title="passeport.ants.gouv.fr" href="https://passeport.ants.gouv.fr/" target="_blank" rel="noopener">passeport.ants.gouv.fr</a>
        </p>
        <ul class="fr-footer__content-list">
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" href="https://legifrance.gouv.fr/">legifrance.gouv.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" href="https://www.gouvernement.fr/">gouvernement.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" href="https://www.service-public.fr/">service-public.fr</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="fr-footer__bottom">
      <ul class="fr-footer__bottom-list">
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" routerLink="/CGU-mentions-legales">CGU et mentions légales</a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" routerLink="/donnees-personnelles">Données personnelles</a>
        </li>
        <li class="fr-footer__bottom-item no-wrap">
          <a class="fr-footer__bottom-link" routerLink="/savoir-plus">En savoir plus</a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" routerLink="/accessibilite">Accessibilité : partiellement conforme</a>
        </li>
        <li class="fr-footer__bottom-item no-wrap" >
          <a class="fr-footer__bottom-link" href="https://ants.gouv.fr/contactez-nous/" target="_blank">Contactez-nous</a>
        </li>
        <br class="mobile" />
        <li class="fr-footer__bottom-item">
          <button class="fr-footer__bottom-link fr-fi-theme-fill fr-link--icon-left" aria-controls="fr-theme-modal" data-fr-opened="false">Paramètres d'affichage</button>
        </li>
        <li>
          <a class="fr-footer__bottom-link version-link" href="https://gitlab.com/france-identite/rendez-vous-mairie/-/releases/{{APP_VERSION}}" target="_blank">{{DATE_VERSION}} {{APP_VERSION}}</a>
        </li>
      </ul>
    </div>
  </div>
  <dialog id="fr-theme-modal" class="fr-modal" role="dialog" aria-labelledby="fr-theme-modal-title">
    <div class="fr-container fr-container--fluid fr-container-md">
      <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
          <div class="fr-modal__body">
            <div class="fr-modal__header">
              <button class="fr-btn--close fr-btn" aria-controls="fr-theme-modal" title="Fermer">
                Fermer
              </button>
            </div>
            <div class="fr-modal__content">
              <h1 id="fr-theme-modal-title" class="fr-modal__title">
                Paramètres d'affichage
              </h1>
              <div id="fr-display" class="fr-display">
                <div class="fr-form-group">
                  <fieldset class="fr-fieldset">
                    <legend class="fr-fieldset__legend fr-text--regular" id='-legend'>
                      Choisissez un thème pour personnaliser l’apparence du site.
                    </legend>
                    <div class="fr-fieldset__content">
                      <div class="fr-radio-group fr-radio-rich">
                        <input value="light" type="radio" id="fr-radios-theme-light" name="fr-radios-theme">
                        <label class="fr-label" for="fr-radios-theme-light">
                          Thème clair
                        </label>
                        <div class="fr-radio-rich__img" data-fr-inject-svg>
                          <img src="/assets/light.svg" alt="" role="none" height="80" width="80"/>
                        </div>
                      </div>
                      <div class="fr-radio-group fr-radio-rich">
                        <input value="dark" type="radio" id="fr-radios-theme-dark" name="fr-radios-theme">
                        <label class="fr-label" for="fr-radios-theme-dark">
                          Thème sombre
                        </label>
                        <div class="fr-radio-rich__img" data-fr-inject-svg>
                          <img src="/assets/dark.svg" alt="" role="none" height="80" width="80"/>
                        </div>
                      </div>
                      <div class="fr-radio-group fr-radio-rich">
                        <input value="system" type="radio" id="fr-radios-theme-system" name="fr-radios-theme">
                        <label class="fr-label" for="fr-radios-theme-system">
                          Système
                          <span class="fr-hint-text">Utilise les paramètres système.</span>
                        </label>
                        <div class="fr-radio-rich__img" data-fr-inject-svg>
                          <img src="/assets/system.svg" alt="" role="none" height="80" width="80"/>
                        </div>

                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </dialog>
</footer>
