/* Only comments */
.isDisabled {
  text-decoration: none;

  pointer-events: none;
}

a::-webkit-details-marker {
  display: none;
}

li a[href^="https://gitlab.com/"]::after
{
  position: absolute;

  width: 8px;
  height: 8px;
  margin-top: 5px;
}

.version-link {
  position: absolute;
  right: 0;

  width: 70px;
  margin-bottom: 0;

  font-size: 0.4em;
}

.mobile {
  display: none;
}
@media (max-width: 480px) {
  .mobile {
    display: block;
  }
}
.no-wrap {
  text-wrap: nowrap;
}
