  <div> 
    <div [ngSwitch]="kibanaDashboardName">
      <iframe
        *ngSwitchCase="'metier'"
        id="content"
        #frame
        src="https://supervision.rendez-vous.france-identite.fr/app/dashboards#/view/85172420-4fb3-11ed-90d9-1d910a18ca37?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15m,to:now))&_a=(description:'',filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'10139d60-4bb8-11ed-9b70-2148ce553fad',key:_index,negate:!f,params:(query:'rdvmairie-prod-*'),type:phrase),query:(match_phrase:(_index:'rdvmairie-prod-*'))),('$state':(store:appState),meta:(alias:!n,disabled:!t,index:'10139d60-4bb8-11ed-9b70-2148ce553fad',key:_index,negate:!f,params:(query:'rdvmairie-dev-*'),type:phrase),query:(match_phrase:(_index:'rdvmairie-dev-*')))),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),query:(language:kuery,query:''),timeRestore:!f,title:M%C3%A9tier,viewMode:view)"
        style="width: 390vh; border: 0; height: 450vh;transform: scale(0.45, 0.4); transform-origin: top left;padding-right: 10%;
         "
        scrolling="no"
        frameborder="0"
      ></iframe>

      <div>
        <iframe 
        *ngSwitchCase="'recherche'" 
        src="https://supervision.rendez-vous.france-identite.fr/app/dashboards#/view/35a7e9b0-5607-11ed-90d9-1d910a18ca37?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15d,to:now))&_a=(description:'',filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!t,index:'10139d60-4bb8-11ed-9b70-2148ce553fad',key:_index,negate:!f,params:(query:'rdvmairie-dev-*'),type:phrase),query:(match_phrase:(_index:'rdvmairie-dev-*'))),('$state':(store:appState),meta:(alias:!n,disabled:!t,index:'10139d60-4bb8-11ed-9b70-2148ce553fad',key:_index,negate:!f,params:(query:'rdvmairie-prod-*'),type:phrase),query:(match_phrase:(_index:'rdvmairie-prod-*')))),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),query:(language:kuery,query:''),timeRestore:!f,title:Recherches,viewMode:view)"
        style="width: 390vh; border: 0; height: 390vh;transform: scale(0.45, 0.45); transform-origin: top left;padding-right: 10%;"
        scrolling="no"
        
        >
      </iframe>
      </div>


      <iframe
        *ngSwitchCase="'tableau-de-bord-rdv-passeport'"
        src="https://supervision.rendez-vous.france-identite.fr/app/dashboards#/view/c5691340-5f7a-11ed-90d9-1d910a18ca37?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15d,to:now))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),query:(language:kuery,query:''),timeRestore:!f,title:'Tableau%20de%20bord%20RDV%20Passeport',viewMode:view)"
        style="width: 390vh; border: 0; height: 370vh;transform: scale(0.7, 0.7); transform-origin: top left;padding-right: 10%;"
        scrolling="no"
      ></iframe>
      <iframe
        *ngSwitchCase="'visiteur'"
        src="https://supervision.rendez-vous.france-identite.fr/app/dashboards#/view/feb72e80-5600-11ed-90d9-1d910a18ca37?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15d,to:now))&_a=(description:'Visiteurs%20du%20site,%20comprenant%20ceux%20qui%20ne%20font%20pas%20forc%C3%A9ment%20de%20recherches%20(usagers%20s%C3%A9rieux,%20curieux,%20robots,%20etc)',filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!t,index:'10139d60-4bb8-11ed-9b70-2148ce553fad',key:_index,negate:!f,params:(query:'rdvmairie-dev-*'),type:phrase),query:(match_phrase:(_index:'rdvmairie-dev-*'))),('$state':(store:appState),meta:(alias:!n,disabled:!t,index:'10139d60-4bb8-11ed-9b70-2148ce553fad',key:_index,negate:!f,params:(query:'rdvmairie-prod-*'),type:phrase),query:(match_phrase:(_index:'rdvmairie-prod-*')))),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),query:(language:kuery,query:''),timeRestore:!f,title:Visiteurs,viewMode:view)"
        style="width: 390vh; border: 0; height: 370vh;transform: scale(0.45, 0.45); transform-origin: top left;padding-right: 10%;"
        scrolling="no"
      >
      </iframe>
    </div>
    <div class="fr-container" style="text-align: center;"> 
    <button class="btn btn-primary" style="text-align: center;"  (click)="downloadAsPDF()">Export To PDF</button>
  </div>
</div>



