<main role="main" id="contenu">
  <div class="fr-container main-body" (window:resize)="onResize($event)">
    <rdv-search-by-city
         #ref
         *ngIf="searchByCity; else departmentSearch"
         (searchCriteria)="onSearch($event)"
         (latLong)="setLatLong($event)"
         [isLoadingSearchResult]="isLoadingSearchResult"
         [searchCriteriaIn]="searchCriteria"
    ></rdv-search-by-city>

    <ng-template #departmentSearch>
      <rdv-search-by-department *ngIf="searchByDepartment; else normalSearch"
        #ref
        (searchCriteria)="onSearch($event)"
        [isLoadingSearchResult]="isLoadingSearchResult"
        [searchCriteriaIn]="searchCriteria"
      ></rdv-search-by-department>
    </ng-template>

    <ng-template #normalSearch>
        <rdv-search
          #ref
          (searchCriteria)="onSearch($event)"
          (localised)="onLocalize($event)"
          [isLoadingSearchResult]="isLoadingSearchResult"
          [searchCriteriaIn]="searchCriteria"
        ></rdv-search>
    </ng-template>

    <div
      id="error"
      *ngIf="errorMessage && errorMessage.title; else elseBlock"
      class="fr-grid-row fr-grid-row--center fr-grid-row--gutters fr-mt-2w"
    >
      <div class="fr-col fr-col-md-11 fr-col-lg-10 fr-col-xl-11 fr-ml-2w fr-mr-2w">
        <div class="fr-alert fr-alert--error">
          <p *ngIf="errorMessage.title" class="fr-alert__title">Erreur : {{ errorMessage.title }}</p>
          <p>{{ errorMessage.description }}</p>
        </div>
      </div>
    </div>

    <ng-template  #elseBlock>
      <div id="error" *ngIf="errorMessage.description"
        class="fr-grid-row fr-grid-row--center fr-grid-row--gutters fr-mt-2w"
      >
        <div *ngIf="errorMessage.description" class="fr-col fr-col-md-11 fr-col-lg-10 fr-col-xl-11 fr-ml-2w fr-mr-2w">
          <div class="fr-alert fr-alert--error">
            <p>{{ errorMessage.description }}</p>
          </div>
        </div>
      </div>
    </ng-template>


    <div id="target" *ngIf="message && message !== ''">
      <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters">
        <div class="fr-col fr-col-md-11 fr-col-lg-10 fr-col-xl-11">
          <rdv-slots
            [slots]="slots"
            [onlyOfflineMunicipalities]="onlyOfflineMunicipalities"
            [rawOfflineMunicipalities]="rawOfflineMunicipalities.slice(0, 5)"
            [endOfSearch]="endOfSearch"
            [results_length]="results_length"
            [searchCriteria]="searchCriteria"
            [sortBy]="sortBy"
            (sortByEvent)="onSortByChange($event)"
            [message]="message"
            [non_response_percentage_from_editors]="non_response_percentage_from_editors"
            [searchByDepartment]="searchByDepartment"
            [isLoadingSearchResult]="isLoadingSearchResult"
          ></rdv-slots>
        </div>
      </div>
    </div>


      <rdv-department-cities *ngIf="searchByDepartment;"
        #ref
        [isLoadingSearchResult]="isLoadingSearchResult"
        [searchCriteriaIn]="searchCriteria"
      ></rdv-department-cities>
  </div>
</main>
<rdv-modal-user-denied></rdv-modal-user-denied>
<rdv-geolocalisation-undefined></rdv-geolocalisation-undefined>
<rdv-modal-redirection [desktop]="isDesktop"></rdv-modal-redirection>