/* Only comments */
.mobile-fr-link {
  max-width: 140px;
  margin: 20px;

  font-size: 0.5rem;
}

@media print {
  .site-header-link {
    display: none !important;
  }
}

.float-right {
  float: right;
  margin-right: 0%;
  padding-right: 0%;
}
