<div class="fr-grid-row fr-grid-row--center fr-mt-5w fr-ml-2w">
  <div class="fr-col fr-col-md-10 fr-col-lg-10 fr-col-xl-10 desktop">
    <div class="fr-table fr-table--layout-fixed fr-table-border-spacing fr-table--no-caption">
      <table>
        <caption>Liste des prédemandes et leurs rendez-vous</caption>
        <thead>
        <th class="rdv-width25 overflow-hidden">NUMÉRO DE PRÉ-DEMANDE</th>
        <th class="rdv-width25 overflow-hidden">LIEU</th>
        <th class="rdv-width25 overflow-hidden">DATE</th>
        <th class="rdv-width25"></th>
        </thead>
        <tbody>
        <ng-container *ngFor="let id of getKeys(predemande_results); let index = index">
          <tr *ngFor="let predemande of predemande_results?.get(id);">
            <td class="text-align">{{ id }}</td>
            <td class="text-align">{{ predemande.meeting_point }}</td>
            <td class="text-align">
              {{ predemande.hour | date: 'ccc d MMM ' }} {{ __getLocaleTimeFormat__(predemande.hour) }}
            </td>
            <td class="rdv-float-right">
              <button class="fr-btn" target="_blank"  data-fr-opened="false" target="_blank" aria-controls="fr-modal-2"
                      title= "Gérer ce rendez-vous le {{ predemande.hour | date: 'ccc d MMM ' }} à {{ __getLocaleTimeFormat__(predemande.hour) }} à {{ predemande.meeting_point }}"
                      (click)="setModalUrl(predemande.management_url)">Gérer
              </button>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Mobile Component -->
  <div class="fr-col fr-mt-2w fr-mr-2w mobile">
    <div class="label-color fr-text--bold" [textContent]="predemande_results.size>1?'Pré-demandes :':'Pré-demande :' "></div>
    <section class="fr-mt-1w" *ngFor="let id of getKeys(predemande_results); let index = index">
      <div class="fr-h3 fr-accordion__title">
        <button
          class="fr-custom-accordion__btn fr-accordion-custom accordion-custom"
          aria-expanded="false"
          [attr.aria-controls]="'accordion-' + index"
          [attr.id]="'button-' + index"
          (click)="ani($event,index)"
        >
         {{id}}
        </button>
      </div>
      <div class="fr-custom-collapse {{predemande_results.size === 1? 'toggle':''}}" [attr.id]="'accordion-' + index" *ngIf="predemande_results?.get(id)">
        <div class="fr-card fr-enlarge-link fr-card--horizontal fr-m-1w" *ngFor="let predemande of predemande_results?.get(id);">
          <div class="fr-grid-row fr-m-2w">
            <div class="fr-col-3w fr-mr-1w fr-m3-1w" >
              <div class="fr-icon-map-pin-user-line"></div>
            </div>
            <div class="fr-col " >
              <td class="fr-ml-2w">{{ predemande.meeting_point }} </td>
            </div>
          </div>

          <div class="fr-grid-row fr-m-1w">
            <div class="fr-col-3w fr-mr-1w fr-ml-1w" >
              <span class="fr-icon-time-line" aria-hidden="true"></span>
            </div>
            <div class="fr-col" >
              <td>{{ predemande.hour | date: 'ccc d MMM ' }} {{ __getLocaleTimeFormat__(predemande.hour) }}
              </td>
            </div>
          </div>
          <div class="fr-grid-row rdv-float-right fr-m-1w">

            <div class="fr-col" >

              <button class="fr-link fr-fi-arrow-right-line fr-link--icon-right rdv-float-right fr-text--bold" target="_blank" data-fr-opened="false" aria-controls="fr-modal-2" (click)="setModalUrl(predemande.management_url)">
                Gérer
              </button>

            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
</div>
