@media (max-width: 759px) {
  .desktop {
    display: none;
  }
  .alert-text {
    font-size: 0.9rem;
    line-height: 1.4rem;
    text-align: justify;
  }

  .accordion-custom {
    display: table;

    text-align: center;

    box-shadow: inset 0 0 0 1px var(--border-action-high-blue-france);
  }
  .logo-municipality {
    max-width: 25%;
    padding: 4px;
  }
  .text-municipality {
    margin: 0px;
    padding: 25px;

    line-height: 1rem;
  }

  ::ng-deep .fr-card:before {
    background-color: unset;
  }

  .log-distance {
    height: 25px;
  }

  .row-slot {
    height: 35px;
  }

  .fr-custom-collapse {
    display: none;
    overflow: hidden;

    background-color: var(--background-contrast-grey);
    transform: 0.3s ease-in-out;

    -webkit-transition: 1s;
    transition: all 0.2s ease-out;
  }

  .toggle {
    display: block;
  }

  .fr-custom-accordion__btn {
    width: -moz-fit-content;
    width: fit-content;

    width: 100%;
  }
}

@media (min-width: 760px) {
  .mobile {
    display: none;
  }
}

.overflow-hidden {
  overflow: hidden;
}
