/* You can add global styles to this file, and also import other style files */
@import '@gouvfr/dsfr/dist/utility/utility.min.css';

.fr-table-border-spacing {
  border-spacing: 0rem 1rem !important;
}

/* Set padding between firefox date icon and DSFR css date icon  */
/*
@-moz-document url-prefix() {
  .fr-input[type='date'] {
    padding-right: 2.5rem;
  }
}
*/

.fr-tab {
  min-height: 5.5rem;
  //padding: 1rem 0.25rem;
}

.fr-callout-bondeau {
  --title-spacing: 0 0 0.5rem;
  --text-spacing: 0;
  --idle: transparent;
  --hover: var(--background-contrast-grey-hover);
  --active: var(--background-contrast-grey-active);
  position: relative;

  margin: 0 0 1.5rem;
  padding: 1.5rem;

  background-color: var(--background-contrast-grey);
}

.fr-square-li {
  max-width: 2.5rem;
  max-height: 2.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.fr-btn-rounded {
  border-radius: 50%;
}

.fr-accordion-custom {
  padding: 0.75rem 0.5rem !important;

  box-shadow: inset 3px 0 0 0 var(--border-action-high-blue-france);
}

.btn-margin {
  margin: 1px;
}

.fr-icon-custom {
  margin-right: 4px;
}

.ng-spinner {
  position: relative;

  display: none;
}

.main-body {
  min-height: 10px;
  padding-top: 15px;
}

.align-items-center {
  align-items: center;
}

.fr-label-mini {
  min-height: 3rem;
}

@media screen and (max-width: 1280px) {
  .main-body {
    min-height: calc(100vh - 420px);
    padding-top: 15px;
  }
}

@media screen and (min-width: 1920px) {
  .main-body {
    min-height: calc(100vh - 370px);
    padding-top: 15px;
  }
}

/* fallback */
@font-face {
  font-weight: 400;
  font-family: 'Material Icons';
  font-style: normal;
  src: url(assets/close-icon.woff2) format('woff2');
  font-display: swap;
}
.material-icons {
  display: inline-block;

  font-weight: normal;
  font-size: 24px;
  font-family: 'Material Icons', sans-serif;
  font-style: normal;
  line-height: 1;
  direction: ltr;
  letter-spacing: normal;
  white-space: nowrap;
  text-transform: none;
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
}

.label-color {
  color: #666666;
}

@media print {
  body,
  html,
  #wrapper,
  iframe,
  .scrollable-page,
  .ps,
  .panel {
    display: inline-block;
  }
}

// Custom override dark-mode
:root[data-fr-theme='dark'] {
  // fix pour les logo, remet le fond au logo
  .hide-bg {
    background-color: white;
    mix-blend-mode: initial;
  }
  // fix bouton pour afficher plus de demande
  .afficherPlusDesktop {
    background-color: var(--background-default-grey);
  }
  // fix pour passer le logo en blanc en mode dark
  .default-logo {
    filter: invert(100%);
  }
  // fix affichage du nom du lieu en mode mobile
  .name {
    color: initial;
  }
  // fix couleur custom sur le header
  .custom-header-title {
    color: initial;
    text-decoration: initial;
  }
  // fix couleur suite personnalisation de la page en savoir plus
  .fr-sidemenu__btn {
    color: initial;
  }
  // fix couleur suite personnalisation bandeau d'information en mode mobile
  .informations {
    background: initial;
  }

  #informations-formulaire {
    background-color: initial;
  }
  // fix theme custom sur search
  #suggestions.suggestions-container.is-visible {
    background-color: var(--background-default-grey);
  }
  #suggestions.suggestions-container.is-visible ul li div a {
    color: initial;

    background-color: var(--background-default-grey);
  }
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 70px;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: row;
}
