.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 70px;
}
::ng-deep .ngx-spinner-overlay {
  background-color: transparent !important;
  opacity: 0.5 !important;
}

.question {
  color: var(--info-425-625);

  text-align: center;

  background: transparent;
}

.informations {
  color: var(--info-425-625);

  text-align: center;

  background: transparent;
}

::ng-deep .fr-accordion .fr-collapse--expanded {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.color-background {
  background: transparent;
}

.text-description-container {
  padding-right: 2.5%;
  padding-left: 2.5%;
}

.fr-label {
  display: inline-block !important;
}

@media (min-width: 700px) {
  .text-title {
    margin-bottom: 0 !important;

    font-size: 1.6vw;
    text-align: justify;
  }

  .text-title:after {
    display: inline-block;
    width: 100%;

    content: '';
  }

  .text-description {
    font-size: 1.3vw;
    text-align: justify;
  }

  .text-description:after {
    display: inline-block;
    width: 100%;

    content: '';
  }

  .text-description > a {
    font-size: 1.3vw;
    text-align: justify;
  }
}

@media (max-width: 700px) {
  .text-title {
    margin-bottom: 0 !important;

    font-size: 3vw;
    text-align: justify;
  }

  .text-title:after {
    display: inline-block;
    width: 100%;

    content: '';
  }

  .text-description {
    font-size: 2.5vw;
    text-align: justify;
  }

  .text-description:after {
    display: inline-block;
    width: 100%;

    content: '';
  }
}

@media (max-width: 400px) {
  .text-title {
    margin-bottom: 0 !important;

    font-size: 5vw;
    text-align: justify;
  }

  .text-title:after {
    display: inline-block;
    width: 100%;

    content: '';
  }

  .text-description {
    font-size: 4.5vw;
    text-align: justify;
  }

  .text-description:after {
    display: inline-block;
    width: 100%;

    content: '';
  }
}

@media (min-width: 1300px) {
  .text-title {
    margin-bottom: 0 !important;

    font-size: 1.3vw;
    text-align: justify;
  }

  .text-title:after {
    display: inline-block;
    width: 100%;

    content: '';
  }

  .text-description {
    font-size: 1vw;
    line-height: 1.5vw;
    text-align: justify;
  }

  .text-description:after {
    display: inline-block;
    width: 100%;

    content: '';
  }

  .text-description > a {
    font-size: 1vw;
    line-height: 1.5vw;
    text-align: justify;
  }
}

#localisemoi {
  width: 100%;
}

#search-btn {
  width: 100%;
}

@media (max-width: 1100px) {
  .font-size {
    font-size: 0.9rem;
  }
}

@media (max-width: 800px) {
  .font-size {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  .font-size {
    font-size: 0.7rem;
  }
}

@media (max-width: 500px) {
  .font-size {
    font-size: 0.5rem;
  }
}

.fr-accordion__btn:after {
  mask-image: url(../../../assets/arrow-down-s-line.svg);
}

.fr-accordion__btn[aria-expanded='true']:after {
  transform: rotate(180deg); /* Équivalent à rotateZ(45deg) */
}

.fr-card__body > div {
  display: inline-block !important;
}

.fr-card__content > div {
  display: inline-block !important;
  margin: 0%;
}

.fr-card > div {
  display: inline-block !important;
  margin: 0%;
}

.result-list {
  display: table-cell;

  text-align: center;
  vertical-align: middle;
}

.logo-department {
  display: flex;
  flex: 0 0 30%;
  flex-direction: column;
}
