div a {
  display: inline !important;
}

.fr-accordion__btn:after {
  margin-left: auto !important;
}
::ng-deep .fr-accordion .fr-collapse--expanded {
  background-color: transparent;
}
.department-link {
  overflow: hidden;

  background-color: transparent;
  cursor: pointer;
}
