<div class="fr-grid-row fr-grid-row--center fr-ml-2w">
  <rdv-announcement></rdv-announcement>
</div>
<div class="fr-grid-row fr-grid-row--center fr-ml-2w">
  <div class="fr-col fr-col-md-10 fr-col-lg-10 fr-col-xl-10">
    <div>
      <rdv-breadcrumb [items]="breadcrumbs"></rdv-breadcrumb>
    </div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--center fr-ml-2w">
  <div class="fr-col fr-col-md-10 fr-col-lg-10 fr-col-xl-10 margin-right-mobile">
    <h1 class="inline-display fr-h6 custom-margin rdv-justify">
        Retrouvez et gérez tous vos rendez-vous à partir de votre numéro de pré-demande de titre d'identité
    </h1>
  </div>
</div>


<div class="fr-grid-row fr-grid-row--center fr-ml-2w">
  <div class="fr-col fr-col-md-10 fr-col-lg-10 fr-col-xl-10 margin-right-mobile rdv-justify">
      <p>Les numéros de pré-demande sont composés de 10 caractères, par exemple : 1234567890. Saisissez votre/vos numéro(s) de pré-demande séparé(s) par un espace (ou bien une virgule) et lancez la recherche.</p>
  </div>
</div>
<form [formGroup]="predemandeForm" id="predemandeForm" (ngSubmit)="onSearch()">
  <div class="fr-grid-row fr-grid-row--center fr-mt-w fr-ml-2w">
    <div class="fr-col fr-col-md-10 fr-col-lg-10 fr-col-xl-10 margin-right-mobile">
      <div class="fr-search-bar fr-search-bar--lg" id="header-search" role="search">
        <label class="fr-label" for="predemandes"> Recherche </label>
        <input
          class="fr-input"
          placeholder="Numéro(s) de pré-demande(s)"
          type="search"
          id="predemandes"
          name="predemandes"
          formControlName="predemandes"
          required
        />
        <button class="fr-btn" type="submit" title="Rechercher" [disabled]="this.predemandeForm.invalid">Rechercher</button>
      </div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--center">
    <div *ngIf="FormatError" class="fr-col fr-col-md-10 fr-col-lg-10 fr-col-xl-10 fr-ml-4w">
      <p  id="text-input-error-desc-error" class="fr-error-text">Numéro(s) de pré-demande non valide(s)</p>
    </div>
  </div>
  <div [attr.aria-busy]="!endOfSearch"  *ngIf="endOfSearch===false" class="container fr-mt-3w fr-ml-2w fr-mr-2w">
    <ngx-spinner color="var(--blue-france-main-525)" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"> </ngx-spinner>
  </div>
</form>
