// this css
.dash {
  list-style-type: '- ';
}

.no-wrap {
  white-space: nowrap;
}
.fr-tabs fr-tabs__panel {
  overflow-x: clip;
}

@media (min-width: 760px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 759px) {
  .desktop {
    display: none;
  }
  .mobile h3 button {
    color: var(--text-action-high-blue-france);
  }

  .fr-accordion__title h4 button {
    color: var(--text-inverted-blue-france);
  }
}
