.fr-link[target='_blank']:after {
  margin-left: 2px !important;
}

.bold-font {
  font-weight: bold;
}

.fr-accordion__btn:after {
  mask-image: url(../../../assets/arrow-down-s-line.svg);
}

.fr-accordion__btn[aria-expanded='true']:after {
  //mask-image: none;
  transform: rotate(180deg); /* Équivalent à rotateZ(45deg) */
  //background-color: transparent;
}

::ng-deep .ngx-spinner-overlay {
  background-color: transparent !important;
  opacity: 0.5 !important;
}

.informations {
  color: var(--info-425-625);

  text-align: center;

  background: #e8edff;
}

::ng-deep .fr-accordion .fr-collapse--expanded {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  background: #f2f2f9;
}

.aligne-middle {
  vertical-align: middle;
}

.hidden {
  display: none;
}

.prevent-selection {
  user-select: none;
}

.result {
  flex: 0 0 30%;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.logo-size {
  width: 50%;
  height: 90%;
}
.municipality-details {
  flex-direction: column;
  align-items: center;
}

.container-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details {
  display: flex;
  flex: 0 0 30%;
  flex-direction: column;
}
