<div *ngIf="type==='Desktop'; else mobile">
  <div *ngIf="non_response_percentage_from_editors === 0; else other_content">
    <div
      *ngIf="!searchByDepartment; else search_By_Department"
      [ngClass]="
        (nbResult === 0 && endOfSearch) || (nbResult === 0 && isLoadingSearchResult)
          ? 'fr-alert fr-alert--info fr-mt-3w'
          : 'fr-alert fr-alert--success fr-mt-3w'
      "
    >
      <p [innerHTML]=message></p>
    </div>
    <ng-template #search_By_Department>
      <div
        [ngClass]="
          (nbResult === 0 && isLoadingSearchResult) || (nbResult === 0 && endOfSearch)
            ? 'fr-alert fr-alert--info fr-mt-3w'
            : 'fr-alert fr-alert--success fr-mt-3w'
        "
      >
        <p [innerHTML]=message></p>
      </div>
    </ng-template>
  </div>

  <ng-template #other_content>
    <div
      *ngIf="non_response_percentage_from_editors && endOfSearch"
      [ngClass]="nbResult === 0 && endOfSearch ? 'fr-alert fr-alert--info fr-mt-3w' : 'fr-alert fr-alert-partial--success fr-mt-3w'"
      [innerHTML]="'<p>' +
        message +
        ' Nous n\'avons pu charger que ' +
        (100 - non_response_percentage_from_editors) +
        '% des résultats : n\'hésitez pas à renouveler votre recherche ultérieurement'
        + '</p>'
      "
    ></div>
  </ng-template>
</div>

<ng-template #mobile>
  <div *ngIf="non_response_percentage_from_editors === 0; else other_content">
    <div
      *ngIf="!searchByDepartment; else search_By_Department"
      [ngClass]="
        (nbResult === 0 && endOfSearch) || (nbResult === 0 && isLoadingSearchResult)
          ? 'fr-alert fr-alert--info fr-mb-4w fr-mt-4w fr-ml-2w fr-m-2w alert-text fr-pr-2w fr-pl-7w'
          : 'fr-alert fr-alert--success fr-mb-4w fr-mt-4w fr-ml-2w fr-m-2w alert-text fr-pr-2w fr-pl-7w'
      "

    >
      <p [innerHTML]=message></p>
    </div>

    <ng-template #search_By_Department>
      <div
        [ngClass]="
          (nbResult === 0 && isLoadingSearchResult) || (nbResult === 0 && endOfSearch)
            ? 'fr-alert fr-alert--info fr-mb-4w fr-mt-4w fr-ml-2w fr-m-2w alert-text fr-pr-2w fr-pl-7w'
            : 'fr-alert fr-alert--success fr-mb-4w fr-mt-4w fr-ml-2w fr-m-2w alert-text fr-pr-2w fr-pl-7w'
        "
        [innerHTML]="'<p>' + message + '</p>'"
      ></div>
    </ng-template>
  </div>

  <ng-template #other_content>
    <div
      *ngIf="non_response_percentage_from_editors && endOfSearch"
      [ngClass]="
        nbResult === 0 && endOfSearch
          ? 'fr-alert fr-alert--info fr-mb-4w fr-mt-4w fr-ml-2w fr-m-2w alert-text fr-pr-2w fr-pl-7w'
          : 'fr-alert fr-alert-partial--success fr-mb-4w fr-mt-4w fr-ml-2w fr-m-2w alert-text fr-pr-2w fr-pl-7w'
      "
      [innerHTML]="'<p>' +
        message +
        ' Nous n\'avons pu charger que ' +
        (100 - non_response_percentage_from_editors) +
        '% des résultats : n\'hésitez pas à renouveler votre recherche ultérieurement'
        + '</p>'
      "
    ></div>
  </ng-template>
</ng-template>
