
<div data-fr-opened="false" aria-controls="fr-modal-1" #showModalButton>
</div>

<dialog aria-labelledby="fr-modal-title-modal-1" role="dialog" id="fr-modal-1" class="fr-modal">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-8 fr-col-lg-8  fr-col-xl-9">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-1">Fermer</button>
          </div>
          <div class="fr-modal__content">
            <div id="fr-modal-title-modal-1" class="fr-h4 fr-modal__title rdv-text-center">
              La géolocalisation de votre navigateur est désactivée
            </div>
            Votre géolocalisation n'est pas autorisée par votre navigateur. Vous pouvez :
            <ul class="list-style fr-mt-2w">
              <li>
              saisir manuellement le code postal ou nom de la commune recherchée ;
            </li>
            <li>
              activer la géolocalisation dans les paramètres de votre navigateur ;
            </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>
