<div data-fr-opened="false" aria-controls="fr-modal-3" #showGeoUndefinedButton>
</div>

<dialog aria-labelledby="géolocalisation-non-valide" role="dialog" id="fr-modal-3" class="fr-modal">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-8 fr-col-lg-8  fr-col-xl-9">
        <div class="fr-modal__body" style="background-color: #fddede;">
          <div class="fr-modal__header">
            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-3">Fermer</button>
          </div>
          <div class="fr-modal__content">
            <div id="géolocalisation-non-valide" class="fr-h4 fr-modal__title rdv-text-center">
              La géolocalisation de votre navigateur ne peut être prise en compte
            </div>


            <p class="rdv-justify">
              Nous ne pouvons pas reconnaitre votre position. Nous vous invitons à saisir manuellement le code postal ou le nom de la commune que vous recherchez.

            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>
