.town-name {
  font-size: 0.9rem;
}

.hidden {
  overflow: hidden;
}
@media (min-width: 759px) {
  .mobile {
    display: none;
  }
  @keyframes moveOver {
    from {
      transform: translate(0%);
    }

    to {
      transform: translate(-200%);
    }
  }
  @keyframes moveLeft {
    from {
      transform: translate(200%);
    }

    to {
      transform: translate(0%);
    }
  }

  .fr-custom-tabpanel {
    position: relative;

    display: block;

    transition: all 200ms ease-in;
    animation: moveLeft 0.3s ease-in-out;
    animation-fill-mode: forwards;
  }

  .toggle-left {
    animation: moveLeft 0.3s ease-in-out;
    animation-fill-mode: forwards;
  }

  .toggle-over {
    animation: moveOver 0.3s ease-in-out;
    animation-fill-mode: forwards;
  }

  .fr-alert-partial--success {
    box-shadow: inset 0 0 0 1px #e4794a, inset 2.5rem 0 0 0 #e4794a;
  }
  .fr-alert-partial--success::before {
    -webkit-mask-image: url('/assets/fr--success-fill.svg');
    mask-image: url('/assets/fr--success-fill.svg');

    content: '';
  }

  div li {
    top: 50%;

    display: inline-block;
    margin: 0 auto;
  }

  .custom-tab-height {
    /*
    temporary solution
    */
    min-height: 5.3rem;
    padding-bottom: -5px !important;
  }

  .aligne-middle {
    vertical-align: middle;
  }

  .tab-content {
    position: relative;

    box-shadow: inset 0 -1px 0 0 var(--border-default-grey), inset 1px 0 0 0 var(--border-default-grey),
      inset -1px 0 0 0 var(--border-default-grey);
  }

  .select {
    float: right;
    width: 15%;
  }
  .w85 {
    width: 85%;
  }
  @media screen and (max-width: 1050px) {
    .select {
      float: right;
      width: 20%;
    }
    .w85 {
      width: 80%;
    }
  }
}

@media (max-width: 760px) {
  .desktop {
    display: none;
  }
  .alert-text {
    font-size: 0.9rem;
    line-height: 1.4rem;
    text-align: justify;
  }

  .accordion-custom {
    display: table;

    text-align: center;

    box-shadow: inset 0 0 0 1px var(--border-action-high-blue-france);
  }
  .logo-municipality {
    max-width: 25%;
    padding: 4px;
  }
  .mobile-logo-municipality {
    max-width: 90%;
    max-height: 90%;
  }
  .text-municipality {
    margin: 0px;
    padding: 25px;

    line-height: 1rem;
  }

  .reserve-url {
    color: blue;
    font-size: 16px;
  }
  ::ng-deep .fr-card:before {
    background-color: unset;
  }

  .log-distance {
    height: 25px;
  }

  .row-slot {
    height: 35px;
  }

  .fr-custom-collapse {
    display: none;
    overflow: hidden;

    background-color: var(--background-contrast-grey);
    transform: 0.3s ease-in-out;

    -webkit-transition: 1s;
    transition: all 0.2s ease-out;
  }

  .toggle {
    display: block;
  }

  .fr-alert-partial--success {
    box-shadow: inset 0 0 0 1px #e4794a, inset 2.5rem 0 0 0 #e4794a;
  }
  .fr-alert-partial--success::before {
    -webkit-mask-image: url('/assets/fr--success-fill.svg');
    mask-image: url('/assets/fr--success-fill.svg');

    content: '';
  }

  .fr-accordion__btn:after {
    mask-image: none;

    height: 0;
  }
  .website {
    display: block;
    padding: 5px;

    color: #fff;
    font-weight: 300;
    text-align: center;

    background-color: #000091;
    border-radius: 0.2rem;
  }
  .name {
    color: #000091;
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

  .distance-km {
    color: #868e96;
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .fr-icon--custom:after,
  .fr-icon--custom:before {
    --icon-size: 4rem;
  }

  .max-width {
    max-width: 30%;
  }
  .invalidlink-width {
    max-width: 20%;
  }
  .address {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .reserve {
    color: #fff;
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .afficherPlus {
    display: block;
    padding: 5px;

    color: #6a6af4;
    font-weight: 300;
    text-align: center;
  }

  .enable-pointer {
    width: 100%;

    text-decoration: none !important;

    pointer-events: auto;
  }

  .disable-pointer {
    text-decoration: none !important;

    pointer-events: none;
  }

  .offlineMunicipality {
    box-shadow: inset 3px 0 0 0 var(--border-action-high-blue-france);
  }
}
