<main role="main" id="contenu">
  <div class="fr-container main-body">
    <div class="fr-grid-row fr-grid-row--center fr-mt-2w">
      <div class="fr-col fr-col-md-8 fr-col-lg-8 fr-col-xl-18">


        <rdv-breadcrumb [items]="breadcrumbs" ></rdv-breadcrumb>


        <h4>Disponibilité en temps réel du back-end (des applications dorsales)</h4>
        <p *ngIf="backendStatus">Etat en temps réel : <span class="status-ok">OK</span></p>
        <p *ngIf="!backendStatus">Etat en temps réel : <span class="status-ko">KO</span></p>
        <p *ngIf="!backendStatus">Si nécessaire, veuillez nous contacter à ants-rdvmairie@interieur.gouv.fr.</p>
      </div>
    </div>

    <div *ngIf="backendStatus" class="fr-grid-row fr-grid-row--center">
      <div class="fr-col fr-col-md-8 fr-col-lg-8 fr-col-xl-18">
        <h4>Disponibilité en temps réel des éditeurs interopérables avec le moteur de recherche national</h4>
        <p>Retrouvez en temps réel l’état de raccordement des éditeurs interopérables avec le moteur de recherche national. Si cela affecte votre service de prise de rendez-vous en ligne, veuillez contacter votre éditeur.</p>
      </div>
    </div>
    <div *ngIf="backendStatus" class="fr-grid-row fr-grid-row--center">
      <div class="fr-col fr-col-md-8 fr-col-lg-8 fr-col-xl-18">
        <div *ngFor="let editor of editors"
         [ngClass]="editor.status ? 'fr-highlight fr-highlight--green-emeraude' : 'fr-highlight fr-highlight--pink-macaron'">
          <p>
            {{ editor.name }}
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
