
<div class="fr-container main-body">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col fr-col-md-10 fr-col-lg-10 fr-col-xl-10">
          <div class="fr-mb-2w">
            <rdv-breadcrumb [items]="breadcrumbs"></rdv-breadcrumb>
          </div>
            <h1>Déclaration d'accessibilité</h1>
            <img  class="fr-responsive-img" src="/assets/accessibilite.jpg" alt="logo d'accessibilité" />
            <br>
            <br>
            <p class="rdv-justify">
            L'Agence Nationale des Titres Sécurisés s'engage à rendre ses sites internet accessibles conformément à l'article 47 de la loi n° 2005-102 du 11 février 2005.
            </p>
            <h2 class="rdv-text-center fr-mt-2w">État de conformité</h2>
            <p class="rdv-justify fr-mt-2w">
                Le site <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right" href="https://www.rendezvouspasseport.ants.gouv.fr" target="_blank">rendezvouspasseport.ants.gouv.fr</a>
                La page rendezvouspasseport.ants.gouv.fr est en conformité partielle avec le RGAA 4.1.
            </p>
            <h2 class="rdv-text-center fr-mt-2w">Résultat des tests</h2>
            <p class="rdv-justify fr-mt-2w">
                L'audit de conformité réalisé par la société BePlayerOne révèle que :
            </p>

            <ul>
                <li>73 % des critères RGAA sont respectés.</li>
            </ul>

            <h2 class="rdv-text-center fr-mt-2w">Contenus non accessibles</h2>
            <div class="rdv-justify fr-mt-2w">
                <b>Non conformité</b><br>
                <ul>
                    <li>Critère 3.3 - Non conforme sur la page 1 de l'échantillon;</li>
                    <li>Critère 5.6 - Non conforme sur la page 1 de l'échantillon ;</li>
                    <li>Critère 7.1 - Non conforme sur la page 1 de l'échantillon ;</li>
                    <li>Critère 7.5 - Non conforme sur la page 1 de l'échantillon ;</li>
                    <li>Critère 8.2 - Non conforme sur la page 1 de l'échantillon ;</li>
                    <li>Critère 8.4 – Non conforme sur les pages 1, 2, 3 et 4 de l'échantillon ;</li>
                    <li>Critère 8.6 – Non conforme sur les pages 2 et 4 de l'échantillon ;</li>
                    <li>Critère 8.9 - Non conforme sur les pages 1, 2 et 4 de l'échantillon ;</li>
                    <li>Critère 9.1 - Non conforme sur les pages 1, 2 et 4 de l'échantillon ;</li>
                    <li>Critère 9.3 – Non conforme sur la page 4 de l'échantillon ;</li>
                    <li>Critère 10.8 – Non conforme sur la page 1 de l'échantillon ;</li>
                    <li>Critère 11.6 – Non conforme sur la page 1 de l'échantillon.</li>
                </ul>
            </div>

            <h2 class="rdv-text-center fr-mt-2w">Établissement de cette déclaration d'accessibilité</h2>
            <div class="rdv-justify fr-mt-2w">
                <b>Cette déclaration a été établie le 26 janvier 2023.</b><br>
                Technologies utilisées pour la réalisation de rendezvouspasseport.ants.gouv.fr :
                <ul>
                    <li>Python, FastApi</li>
                    <li>Angular</li>
                    <li>HTML5, SCSS</li>
                </ul>
            </div>

            <h2 class="rdv-text-center fr-mt-2w">Pages du site ayant fait l'objet de la vérification de conformité</h2>
            <div class="rdv-justify fr-mt-2w">
                <b>Cette déclaration a été établie le 26 janvier 2023.</b><br>
                Technologies utilisées pour la réalisation de rendezvouspasseport.ants.gouv.fr :
                <ul>
                    <li>Page 1 – Rechercher un rendez-vous : <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right" href="https://rendezvouspasseport.ants.gouv.fr/" target="_blank">rendezvouspasseport.ants.gouv.fr</a>
                    </li>
                    <li class="rdv-word-break-all">Page 2 - Retrouvez et gérez tous vos rendez-vous :
                        <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right break-long-word" href="https://rendezvouspasseport.ants.gouv.fr/predemande/NumeroPredemande" target="_blank">rendezvouspasseport.ants.gouv.fr/predemande/NumeroPredemande</a>
                    </li>
                    <li>Page 3 – Mentions légales :
                        <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right" href="https://rendezvouspasseport.ants.gouv.fr/CGU-mentions-legales" target="_blank">rendezvouspasseport.ants.gouv.fr/CGU-mentions-legales</a>
                    </li>
                    <li>Page 4 – En savoir plus :
                        <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right" href="https://rendezvouspasseport.ants.gouv.fr/savoir-plus" target="_blank">rendezvouspasseport.ants.gouv.fr/savoir-plus</a>
                     </li>
                </ul>
            </div>

            <h2 class="rdv-text-center fr-mt-2w">Retour d'informations et contact</h2>
            <div class="rdv-justify fr-mt-2w">
                <p>Si vous n'arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter le responsable du portail rendezvouspasseport.ants.gouv.fr pour être orienté vers une alternative accessible ou obtenir le contenu sous une autre forme, vous pouvez envoyer un message au responsable du portail rendezvouspasseport.ants.gouv.fr en lui écrivant à l'adresse : ants-rdvmairie@interieur.gouv.fr.</p>
            </div>

            <h2 class="rdv-text-center fr-mt-2w">Voies de recours</h2>
            <div class="rdv-justify fr-mt-2w">
                <p>Cette procédure est à utiliser dans le cas suivant :</p>
                <br>
                <p>Vous avez signalé au responsable du site internet un défaut d'accessibilité qui vous empêche d'accéder à un contenu ou à un des services du portail et vous n'avez pas obtenu de réponse satisfaisante.</p>
            </div>

            <ul>
                <li>Écrire un message au Défenseur des droits ;</li>
                <li>Contacter le délégué du Défenseur des droits dans votre région ;</li>
                <li>Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre).</li>
            </ul>
            <p>Défenseur des droitsLibre réponse 7112075342 Paris CEDEX 07</p>

            <h2 class="center  fr-mt-2w">Validité de la déclaration d'accessibilité</h2>
                <p class="rdv-justify fr-mt-2w">La déclaration d'accessibilité est valide à partir de sa date de publication. Elle doit être mise à jour :</p>

            <ul>
                <li>à la date de modification substantielle ou de refonte du site concerné;</li>
                <li>3 ans après la date de publication de la déclaration, ou,</li>
                <li>18 mois après la date de publication d'une nouvelle version du référentiel, pour les personnes qui appliquent la méthode technique.</li>
            </ul>
            <p>Il peut cependant être souhaitable de mettre à jour plus régulièrement la déclaration d'accessibilité, y compris pour une même version de la méthode technique, afin de souligner les efforts réalisés et de mettre à jour le pourcentage de critères respectés.</p>

    </div>
</div>
