@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 1100px) {
  .font-size {
    font-size: 0.9rem;
  }
}

@media (max-width: 800px) {
  .font-size {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  .font-size {
    font-size: 0.7rem;
  }
}

@media (max-width: 500px) {
  .font-size {
    font-size: 0.5rem;
  }
}

::ng-deep .ngx-spinner-overlay {
  background-color: transparent !important;
  opacity: 0.5 !important;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 70px;
}

@media screen and (max-width: 480px) {
  .modal-align-center {
    position: absolute;
    top: 50%;

    transform: translate(0%, -50%);
  }
}

::ng-deep .fr-accordion .fr-collapse--expanded {
  background-color: transparent;
}

.ng-autocomplete {
  ::ng-deep .autocomplete-container {
    background-color: transparent;
    box-shadow: none;
    input[type='text'],
    textarea {
      display: block;
      width: 100%;
      max-height: none;
      margin: 0;
      padding: 0.5rem 1rem;

      color: var(--text-label-grey);
      font-size: 1rem;
      line-height: auto;

      background-color: var(--background-contrast-grey);
      border-radius: 0.25rem 0.25rem 0 0;
      border-radius: 0.25rem 0 0;
      box-shadow: inset 0 -2px 0 0 var(--border-plain-grey);
      box-shadow: inset 0 -2px 0 0 var(--border-action-high-blue-france);

      --idle: transparent;
      --hover: var(--background-contrast-grey-hover);
      --active: var(--background-contrast-grey-active);
    }
    ::placeholder {
      font-style: italic;

      -webkit-filter: contrast(50%);
      filter: contrast(50%);
    }
  }
}

/*
@media only screen and (max-width: 600px) {
  .ng-autocomplete {
    ::ng-deep .autocomplete-container {
      ::placeholder {
        font-size: 0.48rem;
      }
    }
  }
}
*/

.villeNumber {
  margin-left: auto;

  color: var(--text-disabled-grey);
  font-size: 14px;
}

.fr-accordion__btn_custom:after {
  margin-left: 10px;
}

ng-autocomplete input::-webkit-input-placeholder {
  background-color: red;
  opacity: 0.5;
}

.fr-collapse.fr-collapse--expanded {
  background-color: transparent;
}
rdv-cities .city {
  overflow: hidden;

  cursor: pointer;
}
